.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    background-color: #2B2B2B;
    font-family: 'Anonymous Pro', monospace;
}

.page {
    width: 840px;
    min-height: 1214px;
    margin: auto;
    padding: 90px 90px 90px 90px;
}
.page-header {
    
}

.my-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.my-name {
    margin: 0;
    margin-bottom: 2px;
    padding-top: 25px;
    padding-left: 50px;
    color: yellow;
}
.line-name {
    border-top: 1px yellow solid;
    margin-bottom: 10px;
}
.my-speciality {
    margin: 0;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;
    color: yellow;
    text-align: end;
    font-size: 24px;
}

.my-mail {
    margin: 0;
    margin-top: 10px;
    padding-left: 52px;
    color: yellow;
    text-align: end;
}

.title-content {
    padding: 0;
    margin: 0;
    color: yellow;
    font-size: 26px;
}

.text-content {
    color: #a9b7c6;;
}

.code-example-card-wrapper {
    display: flex;
    justify-content:space-evenly;
}

.code-example-card {
    width: 200px;
    height: 200px;
    border: yellow 1px solid;
}